[Unit]
Description=Update Piot client
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c '/usr/local/bin/piot-update >> /var/log/piot/updater.log 2>&1'

[Install]
WantedBy=multi-user.target
