[Unit]
Description=Sensor Reader
After=mosquitto.service
Wants=mosquitto.service

[Service]
ExecStart=/bin/sh -c '/usr/local/bin/piot /etc/piot.conf >> /var/log/piot/piot.data 2>> /var/log/piot/piot.log'
Restart=on-failure

[Install]
WantedBy=multi-user.target
