[Unit]
Description=Piot client for IoT on a Raspberry Pi
After=time-sync.target
Wants=time-sync.target

[Service]
ExecStart=/bin/sh -c '/usr/local/bin/piot /etc/piot.conf >> /var/log/piot/piot.log 2>&1'
Restart=on-failure

[Install]
WantedBy=multi-user.target
